<section class="level_form">
	<%= form_for @level do |f| %>
	  <%= f.label :LevelName, "Level Name :" %>
	  <%= f.text_field :name, :class => "ad_o o_ad" %>
	  <br>
	  <%= f.submit "Create", :class => "rc-button rc-button-submit kilop"%>
	<% end %>
</section>

<% if !@alevel.blank? %>
	  <% for item in @alevel %>
	  <br>
	    <%= item.name %>
		<br>
	    <%= item.id %>
	  <% end %>
	<% end %>