<!DOCTYPE html>
<html>
<head>
  <title>School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<section id="Dashboard">
	<div class="central_part">Welcome <%= link_to "logout", '/logout' , :class => "samli_link" %>  </div> 
</section>
<section class="menu_void">
	<ul>
		<li>
			<%= link_to "Dashboard", '/dashboard' %>
		</li>
		<li>
			<%= link_to "Level", '/addlevel' %>
		</li>
		<li>
			<%= link_to "Subject", '/addsubject' %>
		</li>
		<li>
			<%= link_to "Class", '/addclass' %>
		</li>
	</ul>
</section>
<% end %>
<%= yield %>

</body>
</html>
